<p>
Thank you for signing up as a contributor! Two ways to get started:
</p>

<p>
A. <strong>Have a remote user testing session with us.</strong> We’ll set up a
video call where we’ll note your on-the-spot feedback as you test LinkSight.
<a href="https://doodle.com/poll/3ftfvnrctxmk3vwi#table">Select a schedule.</a>
</p>

<p>
B. <strong>Test independently.</strong> Test the site on your own time and
<a href="https://airtable.com/shr7b1eauaxFWw1et">share your feedback</a>.
</p>

<p>
We’re also building a community of contributors. Join the
<a href="https://www.facebook.com/groups/744346445908925/?source=unknown">Facebook group</a>!
</p>

<ul>
<li>Be the first to know updates</li>
<li>Give feedback on how to improve the product</li>
<li>Engage with other LinkSight contributors</li>
<li><a href="https://linksight.thinkingmachin.es/accounts/register">Invite</a> others to our community</li>
</ul>

<p>We’re looking forward to your valuable feedback on how we can improve LinkSight!</p>

<p>Welcome aboard!</p>

<p>- LinkSight Team</p>

