# api

/api/clean-psgc.csv
/api/.coverage
/api/htmlcov/

# web

/app/node_modules
/app/coverage
/app/build

## secrets
/deploy/**/cleartext/

# misc

## python
__pycache__/
venv/

## npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## config
*.env*

## mac
.DS_Store

## pycharm
/.idea/

## jupyter
.ipynb_checkpoints

## ansible
*.retry
hosts.yml

## terraform
.terraform/
*.tfplan
