[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "==0.1.0"
backcall = "==0.1.0"
decorator = "==4.3.0"
dj-database-url = "==0.5.0"
django-cors-headers = "==2.4.0"
djangorestframework-csv = "==2.1.0"
djangorestframework-link-header-pagination = "==0.1.1"
djangorestframework = "==3.8.2"
gunicorn = "==19.9.0"
ipython = "==6.4.0"
jedi = "==0.12.1"
jellyfish = "==0.6.1"
numpy = "==1.14.5"
pandas = "==0.23.3"
parso = "==0.3.1"
pexpect = "==4.6.0"
pickleshare = "==0.7.4"
"psycopg2-binary" = "==2.7.5"
ptyprocess = "==0.6.0"
python-dateutil = "==2.7.3"
python-dotenv = "==0.8.2"
pytz = "==2018.5"
recordlinkage = "==0.11.2"
scikit-learn = "==0.19.2"
scipy = "==1.1.0"
simplegeneric = "==0.8.1"
six = "==1.11.0"
traitlets = "==4.3.2"
unicodecsv = "==0.14.1"
wcwidth = "==0.1.7"
Django = "==2.0.7"
ipython_genutils = "==0.2.0"
prompt_toolkit = "==1.0.15"
Pygments = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.7"
