django
django-cors-headers
django-environ
django-registration-redux
django-silk
djangorestframework
djangorestframework-csv
djangorestframework-link-header-pagination
fuzzywuzzy[speedup]
gunicorn
google-api-python-client
ipython
pandas
psycopg2-binary
python-magic
raven
recordlinkage
social-auth-app-django
