celery[gevent]
coveralls
django==2.1.5
django-cors-headers
django-environ
django-registration-redux
django-silk
django-storages[google]
djangorestframework
djangorestframework-csv
djangorestframework-link-header-pagination
flower
fuzzywuzzy[speedup]
google-api-python-client
gunicorn
ipython
pandas
psycopg2-binary
python-magic
raven
recordlinkage
redis<3
social-auth-app-django
tornado<5
