django
django-cors-headers
django-environ
django-registration-redux
django-silk
djangorestframework
djangorestframework-csv
djangorestframework-link-header-pagination
fuzzywuzzy[speedup]
gunicorn
ipython
pandas
psycopg2-binary
raven
recordlinkage
