html, body, input, textarea, button, select {
  font-size: 15px;
  font-family: Barlow, sans-serif;
  font-weight: 400;
}

/* Heading */

h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

h2, .subtitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  line-height: 20px;
}

h1, h2, h3, p, ul {
  margin: 0;
}

/* Paragraph */

p {
  line-height: 20px;
}

.-small,
small {
  font-size: 12px;
  line-height: 15px;
}

/* Links */

a {
  color: #3f50b0;
}
a:hover, a:focus {
  color: #6a81e2;
}
a:visited {
  color: #243477;
}

/* Colors */

.-light,
.-light a {
  color: white;
}

.-muted {
  color: #b4b4b4;
}
